.appartments {
    position: relative;

    &::before {
        content: 'III';
        right: calc(50% + 555px);
        transform: translate(50%, 0);

        @include decorNumber;
    }

    &__title {
        margin-bottom: 88px;

    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @include mediaTablet {
        &__title {
            margin-bottom: 44px;
        }
        &__cards {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            justify-items: center;
        }
    }
}