.card {
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:hover {
        color: $white;

        .card__img {
            transform: scale(1.1);
            filter: contrast(110%), brightness(1.2), saturate(1.2);
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 6;
        background: linear-gradient(180deg, $dark 0%, rgba(36, 43, 51, 0) 0.01%, $dark 100%);
    }
    &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        z-index: 7;
        border: 3px double rgba($color: $white, $alpha: 0.4);
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    &:hover::after {
        opacity: 1;
    }

    &__img {
        position: relative;
        z-index: 5;
        transition: all 0.2s ease-in;
    }

    &__title {
        font-size: 24px;
        position: absolute;
        left: 50px;
        right: 20px;
        bottom: 44px;
        z-index: 9;
    }

    @include mediaTablet {
        &__title {
            font-size: 20px;
            left: 30px;
            bottom: 30px;
        }
    }
}
