.feedback {
    padding-bottom: 180px;

    &__title {
        margin-bottom: 38px;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 30px;
    }

    @include mediaTablet {
        padding-bottom: 60px;

        &__title {
            margin-bottom: 20px;
        }
        &__form {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}