.footer {
    padding: 72px 51px;
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: $footer-bg;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &__logo {
        margin-top: -12px;
    }

    // &__nav {}

    &__nav-list {
        display: grid;
        gap: 15px;
    }

    &__address {
        display: grid;
        gap: 20px;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    @include mediaTablet {
        padding: 36px 25px;

        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            gap: 40px 30px;
        }
    }
}