@mixin decorNumber {
    position: absolute;
    top: 0;
    font-family: $font-accent;
    font-weight: 700;
    font-size: 400px;
    line-height: 1.15;
    opacity: 0.02; 
}

@mixin mediaTablet {
    @media screen  and (max-width: $tablet){
        @content;
    }
}